@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-color: #4a90e2;
  --secondary-color: #f39c12;
  --background-color: #f0f4f8;
}

body {
  background-color: var(--background-color);
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}